.calltoaction * {
  text-align: center;
}

.calltoaction {
  background: url(../assets/images/item-3.jpg);
  background-color: #222;
  background-repeat: no-repeat;
  background-position: 0 -477px;
  background-size: cover;
  padding: 50px 0;
  margin: 100px 0;
  color: #999;
  transition: 0.5s linear;
}

.calltoaction h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.calltoaction-decription {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 20px;
  color: #fff;
}

.calltoaction-btn {
  text-align: center;
}

.calltoaction-btn > .btn {
  background: rgba(255, 255, 255, .8);
  color: #111;
  margin-top: 5px;
  margin-bottom: 5px;
}

.calltoaction-btn > .btn:hover {
  background: #fff;
}