.bg-top{
  background-color: #111;
}

.bg-html{
  background: #fff url(../assets/images/html.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.1;
}


.bg-brouse {
  background: #fff url(../assets/images/bg-brouser.png) no-repeat;
  background-size: contain;
  position: relative;
  height: 700px;
  width: 100%;
  padding: 63px 16px 94px 17px;
  margin: 0px 0px 0px 0px;

  .image-test {
    position: relative;
    display: block;
    width: 100%;
    height: 618px;
    overflow-y: auto;
    border-radius: 0 0 0 10px;

    img {
      width: 100%;
    }
  }

}


